<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista tematów</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header_dashboard}}
    <div class="main">
        {{>msg_box}}
        <form action="/list_params" class="main__search-by-promotor">
            
            <input type="text" name="author" placeholder="Wpisz imie i nazwisko promotora">
                <input type="submit" value="Wyszukaj">
        </form>
        <br>
        <hr>
        <table class="main__table">
                <tr>
                    <th class="main__table-header_element">Index</th>
                    <th class="main__table-header_element">Tytuł</th>
                    <th class="main__table-header_element">Opis</th>
                    <th class="main__table-header_element">Poziom</th>
                    {{!-- <th>Zarezerwowany</th> --}}
                    <th class="main__table-header_element"Promotor</th>
                    {{!-- <th>Data</th> --}}
                </tr>
            {{#each list}}
                <tr>
                    <td class="main__table-count"></td>
                    <td class="main__table-element_title">{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td class="main__table-element_level">

                        {{this.level}}
                    </td>
                    {{!-- <td class="main__table-element-status">{{this.reservationStatus}}</td> --}}
                    <td class="main__table-element_promotor">
                        
                        {{this.ownerName}}
                    </td>
                    {{!-- <td class="main__table-element-date">{{this.createdAt}}</td> --}}
                    {{#if this.stud}}
                            {{#if this.reservationStatus}}
                                {{>book_topic_disabled}}
                            {{else}}
                                {{>book_topic}}
                            {{/if}}   
                    {{/if}}
                </tr>
            {{/each}}
        </table>
        
    </div>
    
</body>

</html>