<!DOCTYPE html>
<html lang="pl">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj temat pracy dyplomowej</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header_dashboard}}
    <div class="main">
        <div class="main__msg-box">
            <p class="main__msg-box-msg">{{msg}}</p>
            <p class="main__msg-box-err">{{err_msg}}</p>
        </div>
        <form action="/list_params" class="main__search-by-promotor">
            
            <input type="text" name="author" placeholder="Wpisz imie i nazwisko promotora">
                <input type="submit" value="Wyszukaj">
        </form>
        <br>
        <hr>
        <table class="main__table">
                <tr>
                    <th>Index</th>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Poziom</th>
                    <th>Wolny</th>
                    <th>Promotor</th>
                    <th>Data</th>

                </tr>
            {{#each topic}}
                <tr>
                    <td class="main__table-count"></td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.reservationStatus}}</td>
                    <td>{{author}}</td>
                    <td>{{this.createdAt}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    
</body>

</html>