<!DOCTYPE html>
<html lang="pl">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj temat pracy dyplomowej</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header_dashboard}}
    <div class="main">
        <div class="main__msg-box">
            <p class="main__msg-box-msg">{{msg}}</p>
            <p class="main__msg-box-err">{{err_msg}}</p>
        </div>
        <div class="main__overview">
            <h2>{{topic.title}} </h2>
            <h3>Opis:</h3>
            <p>{{topic.description}}</p>
            <p>Status:</p>
            <p>Temat wolny: {{topic.reservationStatus}}</p>
            <p>Poziom:</p>
            <p>{{topic.level}}</p>
        </div>
    </div>
    {{>footer}}
</body>

</html>