<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    {{>header_dashboard}}
    <div class="main">
        <div class="main__msg-box">
            <p class="main__msg-box-msg">{{msg}}</p>
            <p class="main__msg-box-err">{{err_msg}}</p>
        </div>
        
        <div class="main__promotor-panel">

            <div class="main__promotor-panel-user-data">
                <h3>Profil</h3>
                <ul>
                    <li>Imie i nazwisko: {{user.name}}</li>
                    <li>Numer albumu: {{user.album}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Wiek: {{user.age}}</li>
                    <li>Numer telefonu: {{user.phone}}</li>
                    <li>Status: {{user.status}}</li>
                    <li>Data rejestracji: {{user.createdAt}}</li>
                </ul>
            </div>
        </div>
        <div class="main__panel-btnbox">
            <form action="/users/logoutall" method='post' class="main__panel-btnbox-btn">
                    <input type="submit" value="Wyloguj ze wszystkich urządzeń">
        </form>
        <form action="/users/remove" method='post' class="header__panel-btnbox-btn">
                    <input type="submit" value="Usuń konto">
        </form>
        </div>
        



    </div>

    {{>footer}}
</body>

</html>