<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    {{>header_logged}}
    <div class="main">
        <div class="main__promotor-panel">

            <div class="main__promotor-panel-user-data">
                <h3>Profil</h3>
                <ul>
                    <li>Imie i nazwisko: {{user.name}}</li>
                    <li>Numer albumu: {{user.album}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Wiek: {{user.age}}</li>
                    <li>Numer telefonu: {{user.phone}}</li>
                    <li>Status: {{user.status}}</li>
                    <li>Data rejestracji: {{user.createdAt}}</li>
                </ul>
            </div>
        </div>



    </div>

    {{>footer}}
</body>

</html>