<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    {{>header_dashboard}}
    <div class="main">
        {{>msg_box}}

        <div class="main__user-panel">

            <div class="main__user-panel-data">
                <h3 class="main__user-panel-data-title">Profil:</h3>
                <ul class="main__user-panel-data-title-list">
                    <li>Imie i nazwisko: {{user.name}}</li>
                    <li>Numer albumu: {{user.album}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Wiek: {{user.age}}</li>
                    <li>Numer telefonu: {{user.phone}}</li>
                    <li>Status: {{user.status}}</li>
                    <li>Data rejestracji: {{user.createdAt}}</li>
                </ul>
            </div>
            <div class="main__user-panel-profile">
                <img src="/img/user_placeholder.png" alt="User Profile Picture Placeholder"
                    class="main__user-panel-profile-pfp">
            </div>
        </div>
        <div class="main__panel-btnbox">
            <form action="/users/logoutall" method='post' class="main__panel-btnbox-btn"
                onsubmit="return confirmLogoutAll()">
                <input type="submit" value="Wyloguj ze wszystkich urządzeń"
                    class="main__panel-btnbox-btn-submit main__panel-btnbox-btn--red">
            </form>
            <form action="/users/remove" method='post' class="header__panel-btnbox-btn"
                onsubmit="return confirmRemove()">
                <input type="submit" value="Usuń konto"
                    class="main__panel-btnbox-btn-submit main__panel-btnbox-btn--red">
            </form>
        </div>
        <h2 class="main__title">Twoje tematy</h2>
        <table class="main__table">
            <tr>
                <th>Index</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Poziom</th>
                <th>Zarezerwowany</th>
                <th>Data</th>

            </tr>
            {{#if list}}
            {{>panel_list_promotor}}
            {{else}}
            {{>panel_list_student}}
            {{/if}}
        </table>




    </div>


    <script src="/js/confirm.js"></script>
</body>

</html>