{{#if topic}}
<tr>
    <td class="main__table-count"></td>
    <td class="main__table-element_title">{{topic.title}}</td>
    <td class="main__table-element_desc">{{topic.description}}</td>
    <td>{{topic.level}}</td>
    <td>{{topic.reservationStatus}}</td>
    <td class="main__table-element-date">{{topic.createdAt}}</td>
    {{>drop_reservation}}
</tr>
{{/if}}